<form [formGroup]="equipe" (ngSubmit)="onSubmit()">
    <h3>Mon équipe: </h3>
    <label>
        Equipe:
        <input type="text" formControlName="nomEquipe">
    </label>
    <div formArrayName="membres">
        <div *ngFor="let membre of this.membresArray.controls; let i = index">
            <label>
                Membre {{i+1}}:
                <div [formGroupName]="i">
                    <label for="nom{{i}}">nom:</label><input formControlName="nom" id="nom{{i}}" type="text">
                    <label for="pseudo{{i}}">pseudo: </label><input formControlName="pseudo" id="pseudo{{i}}" type="text">
                </div>
            </label>
            <button type="button" (click)="supprimerMembre(i)">X</button>
        </div>
    </div>
    <button type="button" (click)="ajouterMembre()">Ajouter un membre</button>
    <button type="submit">Enregistrer</button>
</form>